.div__appsHome {
    background-color: beige;
    width: 90%;
    height: 80%;
    position: absolute;
}

.div__buttons--container {
    background-color: bisque;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: absolute;
}

.button--openAll {
    background-color: rgb(191, 247, 158);
    width: 50px;
    height: 50px;
    display: flex;
}
.button--addApps {
    background-color: rgb(158, 174, 247);
    width: 50px;
    height: 50px;
    display: flex;
}