.div__appsHome {
    background-color: beige;
    width: 90%;
    height: 80%;
    position: absolute;
}

.div__buttons--container {
    background-color: bisque;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    position: absolute;
}