
.div__tabName{
    height: 100%;
    width: 100%;
    margin: 35px 17px 17px 17px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;

}


.input--tabName {
    background-color: #ffffff;
    width: 90%;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
}

.div__p--submitTab {
    margin-top: 20px;
    color: #a9a9a9;
    font-size: 25px;
    padding: 19px;
    background: #000000;
}

.button__submit--tabName {
    width: 250px;
    height: 60px;
    border-style: none;
    background-color: #000000;
    color: #fffdfb;
    font-size: 23px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid;
}

.button__submit--tabName:hover{
    width: 270px;
    height: 80px;
    animation-duration: 10ms;
}